<div layout="col">
  <div flex layout="column">
    <div flex-grow></div>
    <div flex>
      <img [src]="'/assets/weapons/' + weaponStats.weapon.name.toLowerCase() + '.png'"
           alt="{{weaponStats.weapon.name}} Image"
           style="max-width: 100%"
           aria-hidden />
    </div>
  </div>
  <div flex>
    <div class="md-subhead">{{weaponStats.weapon.name}}</div>
    <div>{{weaponStats.time | timeSpent:1:false}}</div>
    <div>{{weaponStats.games}} games</div>
    <div>{{weaponStats.wins}} wins</div>
  </div>
</div>

