<div layout="row" justify="space-around">
  <!-- Menu options -->
  <div flex>
    <span>
      <a mat-button routerLink="/">
        Home
      </a>
    </span>
    <span>
      <span *ngIf="currentPlayerId === null" (click)="promptCurrentPlayer()">
        <a mat-button>
          My Stats
        </a>
      </span>
      <span *ngIf="currentPlayerId !== null" routerLink="/player/stats/{{currentPlayerId}}">
        <a mat-button>
          My Stats
        </a>
      </span>
      <a mat-button *ngIf="currentPlayerId !== null" (click)="promptCurrentPlayer()">
        Reset Player
      </a>
    </span>
    <span>
      <a mat-button routerLink="/player/rankings">
        Rankings
      </a>
    </span>
  </div>

  <!-- Logo and search -->
  <!-- TODO: Search here -->
  <div layout-align="center">
    <a routerLink="/">
      <img
        style="height: 40px"
        src="/assets/logo.png"
        class="main-logo"
        alt="BrawlDB logo"
      />
    </a>
  </div>

  <!-- Discord & hamburger menu -->
  <div flex layout="row" layout-align="end">
    <div>
      <a href="https://discord.gg/011Fm36aaJCAJguym"
         target="_blank"
         rel="noopener"
         mat-icon-button>
        <mat-icon svgIcon="logo:discord"></mat-icon>
      </a>
    </div>
    <div>
      <a href="https://gitlab.com/BrawlDB/frontend"
         target="_blank"
         rel="noopener"
         mat-icon-button>
        <mat-icon svgIcon="logo:gitlab"></mat-icon>
      </a>
    </div>
    <div layout="column">
      <button mat-icon-button matTooltip="More" [mat-menu-trigger-for]="more">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu xPosition="before" #more="matMenu">
        <button mat-menu-item *ngIf="activeTheme === 'theme-dark'" (click)="switchTheme.emit('light')">
          <mat-icon>brightness_high</mat-icon>
          <span>Light Mode</span>
        </button>
        <button mat-menu-item *ngIf="activeTheme !== 'theme-dark'" (click)="switchTheme.emit('dark')">
          <mat-icon>brightness_low</mat-icon>
          <span>Dark Mode</span>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
