@import '~@angular/material/theming';
@import 'src/style/colors';

$nameColor: mat-color($accent, 300);

::ng-deep {
  .leader .clan-member-name {
    color: $nameColor;
  }
  .officers .clan-member-name {
    color: lighten($nameColor, 10%);
  }
  .members .clan-member-name {
    color: lighten($nameColor, 20%);
  }
  .recruits .clan-member-name {
    color: lighten($nameColor, 25%);
  }
}

::ng-deep .theme-light {
  .officers .clan-member-name {
    color: darken($nameColor, 10%);
  }
  .members .clan-member-name {
    color: darken($nameColor, 20%);
  }
  .recruits .clan-member-name {
    color: darken($nameColor, 25%);
  }

  .light-image {
    background-color: #030617;
  }
}
