<mat-card>
  <mat-card-title>Weapons</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout="row">
      <div flex *ngFor="let index of [1,2]">
        <app-weapon-detail
          *ngIf="getBestNthWeapon(index) !== undefined"
          [weaponStats]="getBestNthWeapon(index)">
        </app-weapon-detail>
      </div>
    </div>
  </mat-card-content>
</mat-card>

