<div>

  <div *ngIf="!playerStats" class="md-padding">
    <h1>Loading player.. Please wait</h1>
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="playerStats">
    <div layout-gt-sm="row" tdMediaToggle="gt-sm" [mediaClasses]="['push-sm']">
      <div flex-gt-sm="55" flex-gt-md="70">
        <app-player-stats-header
          [playerStats]="playerStats"
          [playerRankedStats]="playerRankedStats"
        ></app-player-stats-header>
      </div>
      <div flex-gt-md="30" flex-gt-sm="45" *ngIf="playerRankedStats">
        <app-player-ranked-header [playerRankedStats]="playerRankedStats"></app-player-ranked-header>
      </div>
    </div>
    <div layout="column">
      <app-player-stats-overview [stats]="playerStats"></app-player-stats-overview>
      <div layout-gt-sm="row" layout="column">
        <app-player-legends-overview
          flex
          [legendStats]="playerStats.legendStats"
          [legendRankedStats]="playerRankedStats?.legends"
        ></app-player-legends-overview>
        <app-weapon
          flex
          [weaponStats]="playerStats.weaponStats"
        ></app-weapon>
      </div>
    </div>
    <div layout="column" flex>
      <app-player-legend-detail
        flex
        [legendStats]="playerStats.legendStats"
        [legendRankedStats]="playerRankedStats?.legends"
      ></app-player-legend-detail>
    </div>
    <div layout="column" flex *ngIf="playerRankedStats">
      <app-player-ranked-2v2-teams
        flex
        [teams]="playerRankedStats.teams"
        [currentPlayerId]="playerId"
      ></app-player-ranked-2v2-teams>
    </div>
    <div layout="column">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Raw stats
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-player-regular-stats-table [stats]="playerStats"></app-player-regular-stats-table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
