<td-layout>
  <div id="bg-grid"></div>
  <td-layout-nav navigationRoute="/">
    <app-header
      td-toolbar-content
      flex-grow
      [activeTheme]="activeTheme"
      (switchTheme)="theme($event)"
    ></app-header>
    <td-layout-card-over>
      <router-outlet></router-outlet>
    </td-layout-card-over>
  </td-layout-nav>
</td-layout>


