<mat-card>
  <mat-card-title class="clan-member-name" routerLink="/player/stats/{{member.brawlhallaID}}" link>
    {{member.name}}
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>{{member.rank}}</div>
    <div>Joined {{member.joinDate | elapsed:1000 | timeSpent }} ago</div>
    <div>Contributed {{member.contributedExperience}} xp ({{contributionPercent | percent}})</div>
  </mat-card-content>
</mat-card>
