<mat-card>
  <mat-card-title>2v2 teams</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <span flex layout="row" layout-wrap layout-align="space-between">
      <app-team *ngFor="let team of teams"
                [team]="team"
                [currentPlayerId]="currentPlayerId"
      ></app-team>
    </span>
  </mat-card-content>
</mat-card>
