@import '~@angular/material/theming';
@import 'colors';

[link] {
  cursor: pointer;
}

a {
  color: lighten(mat-color($accent), 20%);
  text-decoration: none;
}
a[noStyle] {
  color: inherit;
}
a:hover {
  color: lighten(mat-color($accent), 5%);
}
.mat-toolbar {
  a:hover {
    color: lighten(mat-color($accent), 12%);
  }
}


.theme-light {
  a {
    color: darken(mat-color($accent), 20%);
  }
  a[noStyle] {
    color: inherit;
  }
  a:hover {
    color: darken(mat-color($accent-light), 10%);
  }
  .mat-toolbar a:hover {
    color: lighten(mat-color($accent-light), 30%);
  }
}
