<mat-card>
  <mat-card-title>
    Raw legend stats
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <td-data-table
      [columns]="columns"
      [data]="data"
      [style.height.px]="200"
    ></td-data-table>
  </mat-card-content>
</mat-card>
