.expansion-align-headers .mat-expansion-panel-header-title,
.expansion-align-headers .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.expansion-align-headers .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

