<div class="md-padding">
  <div>
    <p>Enter the known player information here</p>
    <h3>Valid search terms</h3>
    <mat-accordion class="expansion-align-headers">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Username
          </mat-panel-title>
          <mat-panel-description>
            Ex: [BMG
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p mat-line>Enter the first letters of the desired username</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="crossed" matTooltip="Soon™" matTooltipPosition="left">
            Brawlhalla ID
          </mat-panel-title>
          <mat-panel-description>
            Ex: 8070
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span>
            <p mat-line>Enter the desired Brawlhalla ID</p>
            <p mat-line>This id can be found from the in-game inventory menu</p>
        </span>
        <img src="/assets/screenshots/find_bhid.png">
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="crossed" matTooltip="Soon™" matTooltipPosition="left">
            Steam ID
          </mat-panel-title>
          <mat-panel-description>
            Ex: 76561197991202969
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span>
            <p mat-line>Enter the desired Steam user ID</p>
        </span>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="crossed" matTooltip="Soon™" matTooltipPosition="left">
            Steam vanity profile
          </mat-panel-title>
          <mat-panel-description>
            Ex: steamcommunity.com/id/raidhyn
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span>
            <p mat-line>The desired steam profile vanity link</p>
        </span>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="crossed" matTooltip="Soon™" matTooltipPosition="left">
            Steam profile link
          </mat-panel-title>
          <mat-panel-description>
            Ex: steamcommunity.com/profiles/76561197991202969
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span>
            <p mat-line>The desired steam profile id link</p>
        </span>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-form-field color="accent" class="full-width pad-top" style="width: 100%">
    <input matInput
           placeholder="Search query"
           aria-label="Search query"
           [matAutocomplete]="auto"
           [formControl]="searchControl">
    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="isSearching"></mat-progress-bar>
    <mat-autocomplete
      #auto="matAutocomplete"
    >
      <mat-option
        *ngFor="let player of matchingPlayers | async"
        [value]="player.name"
        (click)="selectPlayer(player)"
      >
        <img style="vertical-align:middle;"
             class="size-32"
             aria-hidden
             [src]="convertRegionToFlag(player.region)"/>
        <span> {{ player.name }}</span> |
        <small>{{ player.rating }} elo</small> |
        <small>{{ player.tier }} {{ player.division || '' }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!--<div>-->
  <!--<div>Search type</div>-->
  <!--<mat-radio-group class="example-radio-group" [(ngModel)]="TODO">-->
  <!--<mat-radio-button class="pad-xs" value="username">-->
  <!--Username-->
  <!--</mat-radio-button>-->
  <!--<mat-radio-button class="pad-xs" value="bhid">-->
  <!--Brawlhalla ID-->
  <!--</mat-radio-button>-->
  <!--</mat-radio-group>-->
  <!--</div>-->

  <div class="pad-bottom" *ngIf="selectedPlayer !== undefined">
    Selected player:
    <app-player-preview [player]="selectedPlayer"></app-player-preview>
  </div>

  <div>
    <button
      mat-raised-button
      color="primary"
      class="full-width"
      (click)="searchPlayer()"
    >Search</button>
  </div>
</div>
