<mat-card>
  <mat-card-title>Legend stats</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div layout="row" layout-align="space-between">
      <div flex>
        <div class="md-title">{{selectedLegendStats.legend.name}}</div>
      </div>
      <div flex-grow></div>
      <div flex class="pull-top">
        <mat-form-field color="accent">
          <mat-select [(value)]="selectedLegendStats">
            <mat-option *ngFor="let stats of legendStats" [value]="stats">{{stats.legend.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div layout="row">
        <div flex>
          Time spent in game: {{selectedLegendStats.matchTime | timeSpent:1}}
        </div>
      </div>
      <mat-divider></mat-divider>
      <div layout="row">
        <div flex *ngIf="!legendRankedStats" class="md-headline">No ranked data</div>
        <div flex layout="row" *ngIf="legendRankedStats && selectedRankedLegend && selectedLegendRankedChartData">
          <!-- ranked games graph and elo stuff -->
          <div flex layout="column">
            <div flex class="md-headline">{{selectedRankedLegend.games}} ranked games</div>
            <div flex class="pull-left-md" style="height: 40px">
              <ngx-charts-bar-horizontal-stacked
                [results]="selectedLegendRankedChartData"
                [scheme]="chartColors"
                [animations]="false"
                [view]="[175, 45]"
              ></ngx-charts-bar-horizontal-stacked>
            </div>
            <div layout="row" flex class="md-body-1">
              <div flex>Elo:</div>
              <div flex>{{ selectedRankedLegend.rating }}</div>
            </div>
            <div layout="row" flex class="md-body-1">
              <div flex>Peak elo:</div>
              <div flex>{{ selectedRankedLegend.peakRating }}</div>
            </div>
            <div layout="row" flex class="md-body-1">
              <div flex>Ratio:</div>
              <div flex>{{ selectedRankedLegend.wins / selectedRankedLegend.games | percent }}</div>
            </div>
            <div flex></div>
          </div>
          <!-- Banner -->
          <div flex class="pull-top-md">
            <img src="/assets/banner/{{selectedRankedLegend.tier}}/{{selectedRankedLegend.division || 0}}.png"
                 alt="{{selectedRankedLegend.tier}} {{selectedRankedLegend.division}} banner"
            />
          </div>
        </div>
        <div flex layout="column">
          <div flex class="md-headline">{{selectedLegendStats.games}} Games</div>
          <div flex>
            <ngx-charts-pie-chart
              [results]="winData"
              [scheme]="chartColors"
              [animations]="false"
              [doughnut]="true"
              [tooltipDisabled]="false"
              [legend]="true"
              legendTitle=""
            ></ngx-charts-pie-chart>
          </div>
        </div>
        <div flex layout="column">
          <div flex class="md-headline">Damage</div>
          <div flex>
            <ngx-charts-bar-horizontal-stacked
              [results]="damageData"
              [scheme]="damageChartColors"
              [animations]="false"
              [barPadding]="4"
              [showGridLines]="false"
              [tooltipDisabled]="false"
            ></ngx-charts-bar-horizontal-stacked>
          </div>
        </div>
        <div flex layout="column">
          <div flex class="md-headline">Lives</div>
          <div flex>
            <ngx-charts-bar-horizontal-stacked
              [results]="koData"
              [scheme]="damageChartColors"
              [animations]="false"
              [barPadding]="4"
              [showGridLines]="false"
              [tooltipDisabled]="false"
            ></ngx-charts-bar-horizontal-stacked>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

