<div layout="col">
  <div flex layout="column">
    <div flex-grow></div>
    <div flex>
      <img [src]="'/assets/legends/' + legend.legend.id + '.png'"
           alt="{{legend.legend.name}} Image"
           style="max-width: 100%"
           aria-hidden />
    </div>
  </div>
  <div flex>
    <div class="md-subhead">{{legend.legend.name}}</div>
    <div>{{legend.matchTime | timeSpent:1:false}}</div>
    <div>{{legend.games}} games</div>
    <div>{{legend.wins}} wins</div>
  </div>
</div>
